<?xml version="1.0" encoding="UTF-8"?>

<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	<!-- 모든 요청에 대해 testServlet이라는 이름으로 정의되어 있는 서블릿을 사용 -->
	 <servlet-mapping>
	 <servlet-name>testServlet</servlet-name>
	 <url-pattern>/</url-pattern>
	 </servlet-mapping>
	
</web-app>